#title {
	display:block;
	font-size:36px;
	text-align:center;
}

#panel {
	display:block;
	font-size:18px;
	background-color:lightgrey;
	width:300px;
	margin:auto;
}
#panel label{
	display:block;
	text-align:center;
}
#panel input{
	display:block;
	text-align:center;
}
